/* Fonts
============================================================================= */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700,500);
/* ============================================================================= */

/*-------------------------------- global styles -----------------------------*/
body {
    overflow-x: hidden;
    font-family: "Roboto",sans-serif;
    webkit-tap-highlight-color: #70cbf6;
}
::-moz-selection {
    text-shadow: none;
    background: #70cbf6;
}
::selection {
    text-shadow: none;
    background: #70cbf6;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
/*---------------------------------------------------------------------------*/
.text-muted {
    color: #777;
}
.text-primary {
    color: #344C67;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}
a {
    color: #344C67;
}
a:hover, a:focus, a:active, a.active {
    color: #4C637B;
}
h1, h2, h3, h4, h5, h6 {
    color: #344C67;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.img-centered {
    margin: 0 auto;
}
.bg-light-gray {
    background-color: #ECF2F6;
}
.bg-darkest-gray {
    background-color: #222;
}
.btn-primary {
    color: #fff;
    background-color: #344C67;
    border-color: #344C67;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4C637B;
    border-color: #344C67;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #344C67;
    border-color: #344C67;
}
.btn-primary .badge {
    color: #344C67;
    background-color: #fff;
}
.btn-xl {
    color: #fff;
    background-color: #344C67;
    border-color: #344C67;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #70cbf6;
    border-color: #70cbf6;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
  }
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    background-color: #344C67;
    border-color: #344C67;
}
.btn-xl .badge {
    color: #344C67;
    background-color: #fff;
}
.navbar-default {
    background-color: #222;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #344C67;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

/*.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #4C637B;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}
.navbar-default .navbar-toggle {
    background-color: #344C67;
    border-color: #344C67;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #344C67;
}*/
.navbar-default .nav li a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
}
/* sign in / sign up buttons */
.sign-btns>button{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 14px;
  margin-right: 15px;
  font-size: 14px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
#sign-up-btn, #sign-up-btn:focus {
  color: #F4F4F4;
  background-color: #E74C3C;
  margin-right: 10px;
  border-color: transparent;
}
#sign-up-btn:hover, #sign-up-btn:active {
  color:#fff;
  background-color: #E82A14;
  border-color: transparent;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
#sign-in-btn, #sign-in-btn:focus {
  border-color: #99AABC;
  color: #4C637B;
  background-color: transparent;
}
#sign-in-btn:hover, #sign-in-btn:active {
  border-color: #344C67;
  color: #344C67;
  background-color: transparent;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

/* Toggle Navigation */
.navbar-toggle {
  margin-right: 30px;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  margin-top: 15px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #99AABC;
  margin-right: -25px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:active .icon-bar{
  background-color: #344C67;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}


/*.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #344C67;
    outline: 0;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #344C67;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #4C637B;
}*/
@media(max-width:767px){
  .navbar-header {
    margin-bottom: 5px;
  }
  .navbar-brand>img {
    padding: 0 3px 3px 0;
    margin-top: -5px;
  }
}

@media (min-width:768px) {
  .navbar-shrink .sign-btns>button {
    margin-top: 9px;
  }
  .navbar-default {
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0;
  }
  .navbar-default .navbar-brand>img {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  .navbar-nav li a{
    padding: 25px 25px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  .navbar-shrink li a{
    padding: 20px 25px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  .navbar-shrink .navbar-brand>img {
    padding: 0 10px 10px 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
/*
.navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
}*/
.navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
/******* New from other css file ******/
.navbar-default .navbar-nav li a, .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
  color: #344C67;
}
.navbar-default .nav li:hover, .navbar-default .nav li:focus, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover {
  background-color: #ECF2F6;
}
.navbar-default .nav li a {
  text-transform: none;
}
.navbar-default .nav li:hover, .navbar-default .nav li {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.navbar-default, .navbar-shrink {
  background-color: #fff;
  border-bottom: 1px solid #ECF2F6;

}
#welcome-section{
  height: 675px;
}
/*********** END of NEW **************/
header {
    background-color:  #99AABC;
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width:768px) {
    header .intro-text {
    padding-top: 260px;
    padding-bottom: 200px;
}
header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}
}section {
    padding: 70px 0;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    text-transform: none;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 75px;
    font-weight: 300;
}

@media (min-width:768px) {
    section {
    padding: 100px 0;
}
}.service-heading {
    margin: 15px 0;
    text-transform: none;
}

@media (min-width:992px) {
    .timeline>li {
    min-height: 150px;
}
.timeline>li .timeline-panel {
    padding: 0 20px 20px;
}
.timeline>li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
}

.watch{
  margin: 20px 0;
}
.watch a{
  text-decoration: none;
  font-family: Kaushan Script, sans-serif;
  font-weight: 200;
  font-size: 26px;
  color: #fff;
}
.watch a:hover{
  opacity: .9;
}
.watch a i{
  color: #E74C3C;
}
}.team-member {
    text-align: center;
    margin-bottom: 50px;
}
.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member p {
    margin-top: 0;
}
aside.clients img {
    margin: 50px auto;
}
section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}
section#contact .section-heading {
    color: #fff;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #344C67;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact :-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact ::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact :-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact .text-danger {
    color: #e74c3c;
}
.remind-image{
  height: 830px;
  text-align: center;
  overflow: hidden;
  /*background: #fff url('../img/1.png') no-repeat bottom;*/
}
#remind{
  padding: 100px 0 0 0;
}
.or{
  color: #344C67;
  font-size: 20px;
  font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  margin: 0 15px;
}
.google-btn{
  padding: 10px 20px 10px 20px ;
  background-color: #d62d20;
  color: white;
  border: none;
}
.google-btn i {
  margin-right: 10px;
  padding: 10px;
  border-right: 2px solid #c92a1e ;
}
.google-btn:hover{
  background-color: #de2e21;
  color: white;
  border: none;
}
.facebook-btn{
  padding: 10px 20px 10px 20px ;
  background-color: #4464A2;
  color: white;
  border: none;
}
.facebook-btn i {
  margin-right: 10px;
  padding: 10px;
  border-right: 2px solid #3f5c96 ;
}
.facebook-btn:hover{
  background-color: #496aad;
  color: white;
  border: none;
}
footer {
    padding: 25px 0;
    text-align: center;
}
footer span.copyright {
    margin-top: -12px;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #344C67;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0;
}
.video-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 45px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-modal .close-modal {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.video-modal .close-modal:hover {
    opacity: .8;
}
.video-modal .close-modal .lr {
    height: 55px;
    width: 5px;
    border-radius: 5px;
    margin-left: 35px;
    background-color: #fff;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}
.video-modal .close-modal .lr .rl {
    height: 55px;
    width: 5px;
    border-radius: 5px;
    background-color: #fff;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}

.heart {
  z-index: 1;
  top: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE3M3B4IiBoZWlnaHQ9IjE1OHB4IiB2aWV3Qm94PSIwIDAgMTczIDE1OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTczIDE1OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjRUY0NjU3IiBkPSJNMTU3LjMzMSwxNS41MDRjLTE5LjU1OS0xOS41NTktNTEuMjcxLTE5LjU1OS03MC44MzEsMGMtMTkuNTU5LTE5LjU1OS01MS4yNzEtMTkuNTU5LTcwLjgzMSwwDQoJYy0xOS41NTksMTkuNTU5LTE5LjU1OSw1MS4yNzEsMCw3MC44MzFsNzAuODMxLDcwLjgzbDcwLjgzMS03MC44M0MxNzYuODksNjYuNzc1LDE3Ni44OSwzNS4wNjQsMTU3LjMzMSwxNS41MDR6Ii8+DQo8L3N2Zz4=");
}

.heart {
  animation: HEARTBEAT 2.5s infinite;
}

@keyframes HEARTBEAT {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 25px;
	display: block;
	text-align: center;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 1.8s ease-in-out infinite;
	-moz-animation:    fade_move_down 1.8s ease-in-out infinite;
	animation:         fade_move_down 1.8s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/* features */
#features{
  padding: 100px 0 0 0 ;
}
.features-margin{
  margin-top: 50px;
}
.feature-img{
  height: 600px;
  background-image: url('../img/1.png');
}
